#####
# KEY BINDS
#####

# set master key
set $mod Mod4

# start a terminal
bindsym $mod+Return exec terminology

# kill focused window
bindsym $mod+Shift+A kill

# Dmenu
bindsym $mod+p exec --no-startup-id i3-dmenu-desktop --entry-type=name

# move around windows
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# move windows
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# split in horizontal orientation
bindsym $mod+s split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+z layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# reload the configuration file
bindsym $mod+Shift+c reload

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart

# desktop environment shortcuts 
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'Do you really want to exit i3?' -b 'Yes, exit i3' 'i3-msg exit'"
bindsym $mod+Shift+p exec poweroff
bindsym $mod+m exec "i3lock -e -d -t -i /home/maxime/Images/abstract-periodic-table-chart-desktop-wallpaper.png"


####
# SETTINGS
####

# setting screen, padlock and  wallpaper config
exec xrandr --output HDMI-1 --primary --mode 1920x1080 --pos 0x0 --output VGA-1 --mode 1680x1050 --pos 1920x0
exec numlockx
exec xsetroot -solid "#333333"

# Font for window title
font pango:monospace 8

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# Start i3bar 
bar {
    status_command i3status
    tray_output HDMI-1        
}


####
# Individual settings
####

for_window [class="Steam"] border pixel 0

