general {
        colors = true
        interval = 2
}

order += "ipv6"
order += "disk /"
order += "ethernet _first_"
order += "volume master"
order += "cpu_temperature 0"
order += "tztime local"

ethernet _first_ {
        format_up = "E: %ip"
        format_down = "E: down"
}

tztime local {
        format = "%Y-%m-%d %H:%M"
}

disk "/" {
        format = "%avail"
}

volume master {
    format = "♪: %volume"
    format_muted = "♪: muted (%volume)"
    device = "default"
}

cpu_temperature 0 {
  format = "T: %degrees °C"
  path = "/sys/devices/platform/coretemp.0/hwmon/hwmon1/temp1_input"
}
